
@{
    ViewData["Title"] = "ThankYou";
}

<h1>Thank You For Your Entry</h1>

<a class="nav-link text-dark" asp-controller="TestSector" asp-action="Enter">Submit new results</a>
<a class="nav-link text-dark" asp-controller="Home" asp-action="Index">View Map Home</a>